<ion-header>
  <ion-toolbar>
    <div id="head">
      <!-- <ion-card>Partie en cours</ion-card> -->
      <ion-card [style.color]="team?.color">{{team?.name}}</ion-card>
      <!-- <ion-card>{{this.session.context.value.countActivity}}</ion-card> -->
    </div>
  </ion-toolbar>
</ion-header>

  <ion-card id="currentGame">
    <div id="activity">
      <ion-card id="currentActivity">{{currentActivity?.name}}</ion-card>
      <ion-card *ngIf="this.timerCount != 0 && !undefined" id="timer">{{timerCount}}</ion-card>
      <!-- <ion-card [hidden]="!this.timer"  id="timer" #timer>{{timerCount}}</ion-card> -->
    </div>
  </ion-card>
  <ion-list style="margin-top: 10%;">
    <ion-list-header style="margin-bottom: 5%;" lines="inset">
      <ion-label class="labelHeader">Team</ion-label>
      <ion-label class="labelHeader">Resultat</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let c of leaderboard" lines="inset">
      <ion-label class="labelRow" [style.color]="c.color">
          {{c.teamName}}
      </ion-label>
      <ion-label class="labelRow" [style.color]="c.color">
        {{c.result}}
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-card>
    <div id='gridDiv'>
      <ion-grid>
        <ion-row class="rowTitle">
          <ion-col>
            <ion-card>
              Team
            </ion-card>         
          </ion-col>
          <ion-col>
            <ion-card>
              Resultat
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let c of leaderboard" lines="none" id="totalRow">
          <ion-col class="rowData">
            <ion-card [style.color]="c.color">
              {{c.teamName}}
            </ion-card>
          </ion-col>
          <ion-col class="rowData">
            <ion-card [style.color]="c.color">
              {{c.result}}
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card> -->
  <ion-card id="form">
    <div>
      <form [formGroup]="form" (ngSubmit)="sendScore(form.value)" *ngIf="roundEnded">
        <ion-list lines="none">
          <ion-item>
            <div id="input">
              <!-- <ion-label position="floating" class="labelScore">Score</ion-label> -->
              <ion-input type="number" placeholder="Score" [readonly]="scoreSended" formControlName = "score"></ion-input>
            </div>
          </ion-item>
          <ion-item>
            <div id="button">
              <ion-button fill="clear" [style.color]="team?.color" [disabled]="!form.valid || scoreSended" type="submit">
                <ion-icon name="send"></ion-icon>
              </ion-button>
            </div>           
          </ion-item>
          <!-- <p *ngIf="scoreSended" style="font-size: 0.8em; color:red">Vous avez déjà envoyé vos scores</p> -->
        </ion-list>
      </form>
    </div>
  </ion-card>