@import '../../../variables.scss';
ion-label{
    display: inline-block;
    text-align: center;
}
#head{
    display: flex;
    justify-content: center;
}
#head ion-card{  
    font-weight: bold;
    display: flex;
    font:2em;  
    padding: 5px;
    width: 40vw;
    display: flex;
    justify-content: center;
    border: 1px solid $stepup1;
}

#head ion-title{
    font-weight: bold;
    color:$stepup1;
    display: flex;
    font:2em;  
}

#activity{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:10px;
}

.labelScore{
    display: inline-block;
    text-align: center;
}

#form{
    width: 50%;
    margin:auto;
    margin-bottom: 3%;
}
#button{
    display: inline-block;
    align-items: center;
    margin:auto;
    
}
#input ion-input{
    width: 50%;
}

// #gridDiv{
//     margin-top: 20px;
// }
// .rowTitle{
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowData{
//     color:$stepup1;
//     font-size: small;
// }

// .rowTitle ion-card{
//     // width: 30%;
//     display: inline-block;
//     align-items: center;
//     margin:auto;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowData ion-card{
//     display: inline-block;
//     align-items: center;
//     margin:auto;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup2;
//     font-size: small;
// }

// #totalRow{
//     border-bottom: 1px solid gainsboro;
// }

.labelHeader{
    font-weight: bold;
    font-size: 1.5em;
    color: $stepup1;
    text-align:center;
}
.labelRow{
    text-align:center;
}

#timer{
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin:auto;
    // margin-top: 10px;
    background-color: white;
    color: $stepup1;
    border: 2px solid $stepup1;
}

#currentActivity{
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin:auto;
    // margin-top: 10px;
    background-color: white;
    color: $stepup1;
    border: 2px solid $stepup1;
}

ion-input[type="number"] {
    text-align: right;
    margin-left: 10%;
  }