@import '../../../variables.scss';
////////////////////////////////////////////////////////////////////////////////////////////
// header
////////////////////////////////////////////////////////////////////////////////////////////
ion-header{
    height:10%;
    display: flex;
}
// ion-header *{
//     border:solid 1px red;
// }
#divToolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}

#divPlay{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15%;
    margin-left: 5%;
}
#divPlay ion-button{
    --background:white;
    width: auto;
    border: 2px solid $stepup1;
}

#play{
    color:$stepup1;
    height: 80%;
    
}

#head{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 1%;
}

#head ion-card{  
    text-align: center;
    font-weight: bold;
    color:$stepup1;
    display: flex;
    font:2em;  
}

.count{
    border: 2px solid $stepup1;
    padding: 5px;
}



////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

#start{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 5px;
    justify-content: center;
}

.labelHeader{
    font-weight: bold;
    color: $stepup1;
    font-size: 1.5em;
    text-align:center;
}
.labelRow{
    text-align:center;
}


// #round{
//     width: 30%;
//     align-items: center;
// }

// #gridDiv{
//     padding-top: 10%;
//     margin: auto;
//     width: 80%;
// }

// .rowTitle{
//     display: flex;
//     justify-content: space-between;
//     // justify-content: flex-end;

// }
// .rowTitle ion-card{
//     // width: 30%;
//     display: inline-block;
//     align-items: center;
//     margin-top: 5px;
//     // margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowData ion-card{
//     display: inline-block;
//     align-items: center;
//     margin:auto;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     color: $stepup2;
//     font-size: small;
// }

// #rowTotal{
//     // border-bottom: 1px solid gainsboro;
//     display:flex;
//     justify-content: center;
//     align-content: center;
// }

#divIcon div{
    display: flex;
    justify-content: center;
}

.padding{
    width: 100%;
    display: flex;
    justify-content: center;
}


#play{
    color:$stepup1;
    font-size: 48px;
}

// ion-card{
//     padding:5px 5px 5px 5px;
// }

#readyIcon{
    font-size: 32px;
}

// *{
//     border:1px solid red;
// }