<ion-header>
  <ion-content id="toolbar"> 
    <div id="divToolbar">
      <div #play id="divPlay">
        <ion-button (click)="gameStarted()" [disabled]="!allIsReady">
          <ion-icon  id="play"  name="play-circle" ></ion-icon>
        </ion-button>
      </div>
      <div #play id="divPlay">
        <ion-button (click)="endDay()">
          <ion-icon  id="play"  name="stop-circle"></ion-icon>
        </ion-button>
      </div>
      <div id="head">
        <ion-card class="count">{{this.session.context.value?.customerName}}</ion-card>
        <ion-card class="count">{{this.session.context.value?.countActivity}}</ion-card>
      </div>
    </div>
  </ion-content>
</ion-header>

<ion-content class="padding">
  <ion-list style="margin-top: 10%;">
    <ion-list-header style="margin-bottom: 5%;" lines="inset">
      <ion-label class="labelHeader">Equipes</ion-label>
      <ion-label class="labelHeader">Activités</ion-label>
      <ion-label class="labelHeader">Prêt?</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let c of players" lines="inset">
      <ion-label class="labelRow" [style.color]="c.color">
          {{c.name}}
      </ion-label>
      <ion-label class="labelRow" [style.color]="c.color">
        {{c.nameCurrentActivity}}
      </ion-label>
    <ion-label class="labelRow" [style.color]="c.color">
      <ion-icon id="readyIcon" *ngIf="c.isReady" slot="end" color="success" name="checkmark-circle"></ion-icon>
    </ion-label>
  </ion-item>
  </ion-list>
  <!-- <ion-content class="padding">
    <div id='gridDiv'>
      <ion-grid>
        <ion-row class="rowTitle">
          <ion-col>
            <ion-card>Team</ion-card>
          </ion-col>
          <ion-col>
            <ion-card>Activity</ion-card>
          </ion-col>
          <ion-col>
            <ion-card>Ready</ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let c of players" lines="none" id="rowTotal">
          <ion-col class="rowData">
            <ion-card [style.color]="c.color">{{c.name}}</ion-card>
          </ion-col>
          <ion-col class="rowData">
            <ion-card [style.color]="c.color" *ngIf="c.nameCurrentActivity">{{c.nameCurrentActivity}}</ion-card>
          </ion-col>
          <ion-col id="divIcon">
              <div *ngIf="c.isReady">
                <ion-icon id="readyIcon" *ngIf="c.isReady" slot="end" color="success" name="checkmark-circle"></ion-icon>         
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <div id="start">
      <!-- <div>
        <ion-item lines="none">
          <ion-button (click)="gameStarted()" [disabled]="!allIsReady" position="floating">Start Game</ion-button>
          <ion-button (click)="gameStarted()" position="floating">Start Game</ion-button>
          <ion-icon id="play" (click)="gameStarted()" position="floating" name="play"></ion-icon>
        </ion-item>
      </div> -->
      <div>
        <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
      </div>
    </div>
</ion-content>
