@import '../../../variables.scss';

ion-header ion-card{
    border:2px solid $stepup1;
}
#slide{
    display: flex;
    flex-direction: column;
}

// #content{
//     height: 100%;
// }
#slides{
    --bullet-background:black;
    height: 100%;
}
#listDiv{
    width: 100%;
    position: relative;
    top: -20%;
}
#titleCard{
    position: absolute;
    top: 5%;
    font-weight: bold;
    color: $stepup1;
    font-size: 200%;
    border: 1px solid $stepup1;
}

.labelHeader{
    font-weight: bold;
    color: $stepup1;
}
.labelRow{
    text-align:center;
}
// #gridDiv{
//     position: absolute;
//     top:20%;
//     width: 75%;
// }

// #rowTitle ion-card{
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowData{
//     color:blue;
//     font-size: small;
// }

// .rowTitle ion-card{
//     // width: 30%;
//     display: inline-block;
//     align-items: center;
//     margin:auto;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowData ion-card{
//     display: inline-block;
//     align-items: center;
//     margin:auto;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup2;
//     font-size: small;
// }

// #totalRow{
//     border-bottom: 1px solid gainsboro;
// }

ion-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

ion-header ion-card{
    font-weight: bold;
    color: $stepup1;
    font-size: large;
}

ion-icon{
    color: $stepup1;
    font-size: 48px;
}

ion-card{
    padding:5px 5px 5px 5px;
}

#start{
    width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: absolute;
    bottom: 5%;
    justify-content: center;
}
