<ion-header>
  <ion-card>Slide par activité</ion-card>
  <ion-icon (click)="close()"  name="close-circle"></ion-icon>
</ion-header>


<ion-content id="content">
  <ion-slides (ionSlideTransitionStart)="slideChanged()" (ionSlidesDidLoad)="slideChanged()" id="slides" pager="true" [options]="slideOpts">
    <ion-slide data-id="{{c.id}}" *ngFor="let c of activityList" id="slide">
        <ion-card id="titleCard">{{c.name}}</ion-card>
        <div id="listDiv">
          <ion-list style="margin-top: 10%;">
            <ion-list-header style="margin-bottom: 5%;" lines="inset">
              <ion-label class="labelHeader">Equipes</ion-label>
              <ion-label class="labelHeader">Résultats</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let a of listLeaderBoardByActivity" lines="inset">
              <ion-label class="labelRow" [style.color]="a.color">
                {{a.teamName}}
              </ion-label>
              <ion-label class="labelRow" [style.color]="a.color">
                {{a.result}}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      <!-- <div id='gridDiv'>
        <ion-grid>
          <ion-row id="rowTitle">
            <ion-col>
              <ion-card>
                Team
              </ion-card>         
            </ion-col>
            <ion-col>
              <ion-card>
                Resultat
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let a of listLeaderBoardByActivity"  lines="none" id="totalRow">
              <ion-col class="rowData">
                <ion-card [style.color]="a.color">
                  {{a.teamName}}
                </ion-card>
              </ion-col>
              <ion-col class="rowData">
                <ion-card [style.color]="a.color">
                  {{a.result}}
                </ion-card>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->
      <div id="start">
        <div>
          <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
 
</ion-content>

