<ion-app>
  <!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div id="test">
            <ion-list-header>Build Your Team</ion-list-header>
            <ion-note>jeanpierre@step-up.be</ion-note>
            <ion-button *ngIf="session.user.value" (click)="logout()">Logout</ion-button>
            <ion-button *ngIf="!session.user.value" (click)="login()">Login</ion-button>
          </div>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-icon slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      <!-- </ion-content>
    </ion-menu> -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-footer id="footer">
      <div id="test">
        <div id="card">
          <ion-card [style.color]="this.session.color" style="border: 1px solid black;">Build Your Team</ion-card>
        </div>
        <div id="leaderboardButton">
          <ion-button (click)="presentModal()">
            <ion-icon  name="podium"></ion-icon>
          </ion-button>
        </div>
        <div id="ByActivityButton">
          <ion-button (click)="presentModalSlide()">
            <ion-icon  name="albums"></ion-icon>
          </ion-button>
        </div>
        <div id="logout">
          <ion-button (click)="log()">
            <ion-icon *ngIf="session.user.value" (click)="logout()" name="log-out"></ion-icon>
            <ion-icon *ngIf="!session.user.value" (click)="login()" name="log-in"></ion-icon>
          </ion-button>
        </div>      
      </div>
    </ion-footer>
  <!-- </ion-split-pane> -->
</ion-app>
