@import '../variables.scss';

#main-content{
  height: 90%;
}

#test{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#test *{
  margin-top: 3%;
}

#card{
    width: auto;
    font-weight: bold;
    color: $stepup1;
}

#card ion-card{
  font-size: 18px;
  width: auto;
  font-weight: bold;
  color: $stepup1;
  padding: 5px 5px 5px 5px;
}

#footer{
  position: absolute;
  bottom:0;
  height:10%;
}

#logout ion-button{
  font-size: 50%;
}
#leaderboardButton ion-icon{
  font-size: 40px;
  color:$stepup1;
}
#ByActivityButton ion-icon{
  font-size: 40px;
  color:$stepup1;
}

#logout ion-icon{
  font-size: 48px;
  color: $stepup1;
}

ion-button{
  --background:white;
  // padding:5px 5px 5px 5px;
}

// ion-button{
//   padding: 5px;
// }
