@import '../../../variables.scss';
////////
//HEADER
///////
ion-header{
    height:10%;
    display: flex;
}
// ion-header *{
//     border:solid 1px red;
// }
#divToolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#divPlay{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
}
#head{
    display: flex;
    justify-content: center;
}
#head ion-card{  
    font-weight: bold;
    color:white;
    display: flex;
    font:2em;  
    padding: 5px;
    width: 40vw;
    display: flex;
    justify-content: center;
    border: 2px solid $stepup1;
}

#play{
    color:$stepup1;
    font-size: 48px;
}
///////////////////////


#form{
    display: flex;
    justify-content: center;
}

#list{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 40%;
}

.label{
    display: inline-block;
    text-align: center;
}
#divSelect{
    width: 100%;
    display: flex;
    justify-content: center;
}
#select{
    width: 80vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
form ion-button{
    background: $stepup1;
    color: white;
    border-radius: 100%;
}

.infoLabel{
    font-size: 0.7em;
    font-weight: bold;
}
// #head{
//     display: flex;
//     justify-content: flex-end;
// }
// #head ion-card{  
//     font-weight: bold;
//     color:cornflowerblue;
//     display: flex;
//     font:2em;  
// }

// #head ion-title{
//     font-weight: bold;
//     color:cornflowerblue;
//     display: flex;
//     font:2em;  
// }

#start{
    width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: absolute;
    bottom: 5px;
    justify-content: center;
}






//select
// ion-select {
//     width: 100%;
//     border: 1px solid red;
//     justify-content: center;
//   }

// ion-select::part(placeholder),
// ion-select::part(text) {
//   flex: 0 0 auto;
//   width: 100%;
// }