<ion-header>
  <ion-toolbar>
    <div id="head">
      <!-- <ion-card>Partie en cours</ion-card> -->
      <ion-card [style.color]="team?.color">{{team?.name}}</ion-card>
      <!-- <ion-card>{{this.session.context.value.countActivity}}</ion-card> -->
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>{{getRegisteredActivity()}}</ion-label>

  <form [formGroup]="activityForm" (ngSubmit)="register(activityForm.value)">
    <ion-list Lines='none' id="list">
      <ion-item>
        <!-- <ion-label  position="floating" class="label">Activité</ion-label> -->
        <!-- <ion-input [disabled]="registered" formControlName = "idActivity"></ion-input> -->
        <div id="divSelect">
          <ion-select id="select" [disabled]="registered" placeholder="Selection" formControlName = "idActivity">
            <ion-select-option *ngFor="let c of activityList" [value]="c.id">{{c.name}}</ion-select-option>
          </ion-select>
        </div>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" [disabled]="!activityForm.valid && registered" type="submit">
          <ion-icon  name="checkmark-circle"></ion-icon>
          </ion-button>
      </ion-item>
      <label class="infoLabel" *ngIf="!registered">Veuillez choisir une activité</label>
      <ion-item>
          <ion-button fill="clear" (click)="beReady()" [disabled]="ready" *ngIf="registered">
            <ion-icon  name="checkmark-done"></ion-icon>
          </ion-button>
      </ion-item>
      <label class="infoLabel" *ngIf="registered && !ready">Confirmez votre choix</label>
      <ion-item>
        <ion-button fill="clear" (click)="Unregister()" [disabled]="ready" *ngIf="registered">
          <ion-icon  name="create"></ion-icon>
        </ion-button>
    </ion-item>
    <label class="infoLabel" *ngIf="registered && !ready">Modifier?</label>
    </ion-list>
  </form>
  <div id="start">
    <div>
      <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
    </div>
  </div>
</ion-content>

