@import '../../../variables.scss';

ion-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

ion-header ion-card{
    font-weight: bold;
    color: $stepup1;
    font-size: large;
    border:2px solid $stepup1;
}
ion-content{
    display: flex;
    position: absolute;
    top: 15vh;
}

#gridCard{
    margin-top: 50px;
}
#gridDiv{
    margin-top: 20px;  
}
#masterCard{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    vertical-align: center;
}

.rowTitle{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: $stepup1;
    font-size: large;
 
}

.rowTitle ion-col{
    display: flex;
    justify-content: center;
}

.rowTitle ion-card{
    // width: 30%;
    display: inline-block;
    align-items: center;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: $stepup1;
    font-size: large;

}


.rowData ion-card{
    color:$stepup2;
    font-size: small;
    display: flex;
    justify-content: center;
}


ion-icon{
    color: $stepup1;
    font-size: 48px;
}

ion-card{
    padding:5px 5px 5px 5px;
}

#start{
    width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: fixed;
    bottom: 0;
    justify-content: center;
    padding: 5vh;
}