<ion-header>
    <ion-card>Total par équipe</ion-card>
    <ion-icon (click)="close()"  name="close-circle"></ion-icon>
</ion-header>

<ion-content>
  <ion-card-content>
    <canvas #barChart></canvas>
  </ion-card-content>
  <!-- <ion-card id="masterCard">
    <div id='gridDiv'>
      <ion-grid>
        <ion-row class="rowTitle">
          <ion-col>
            <ion-card>
              Team
            </ion-card>         
          </ion-col>
          <ion-col>
            <ion-card>
              Total
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let c of tabTotal" lines="none" id="totalRow">
          <ion-col class="rowData">
            <ion-card>
              {{c.teamName}}
            </ion-card>
          </ion-col>
          <ion-col class="rowData">
            <ion-card>
              {{c.total}}
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card> -->
  <div id="start">
    <div>
      <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
    </div>
  </div>
</ion-content>
