<ion-header>
  <!-- <ion-card>Fin de journée</ion-card> -->
</ion-header>
<ion-content id="content">
  <div id="divContent">
    <ion-card id="card">
      <ion-icon name="checkmark-outline"></ion-icon>
      <p>L'évènement est terminé. Merci pour votre participation</p>
      <p>Vous pouvez consulter les résultats de la journée via les liens ci-dessous</p>
    </ion-card>
  </div>
</ion-content>

<div id="start">
  <div>
    <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
  </div>
</div>

