@import '../../../variables.scss';
ion-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

ion-header ion-card{
    font-weight: bold;
    color: $stepup1;
    font-size: large;
}
ion-content{
    display: flex;
}

ion-icon{
    color: $stepup1;
    font-size: 48px;
}

ion-card{
    padding:5px 5px 5px 5px;
}

#start{
    width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: absolute;
    bottom: 5%;
    justify-content: center;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60vw;
}
#divContent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
// #content{
//     width: 100%;
//     display: flex;
//     justify-content: center;

// }