<!-- <ion-header>
  <ion-toolbar>
    <div id="headerTitle">
      <ion-title>Connection</ion-title>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <body class="b">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
                <input name="user" formControlName="login" type="text" placeholder="Utilisateur">
                <input type="password" formControlName="plainPassword" placeholder="Mot de passe">
                <button [disabled]="!loginForm.valid" class=" btn-block login" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
  <!-- <div id="form">
    <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="floating" class="label">Name</ion-label>
          <ion-input type="text" formControlName = "login"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="label">Password</ion-label>
          <ion-input type="password" formControlName = "plainPassword"></ion-input>
        </ion-item>
        <ion-item>
          <div id="button">
            <ion-button fill="clear" size="large" [disabled]="!loginForm.valid" type="submit">
              <ion-icon name="checkmark"></ion-icon>
              <ion-label>Logon</ion-label>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </form>
  </div>
  <div id="start">
    <div>
      <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
    </div>
  </div> -->
</ion-content>
