@import '../../../variables.scss';
////////////////////////////////////////////////////////////////////////////////////////////
// header
////////////////////////////////////////////////////////////////////////////////////////////
ion-header{
    height:10%;
    display: flex;
    align-items: center;
    align-content: center;
}
// ion-header *{
//     border:solid 1px red;
// }
#divToolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 5%;
}


#divPlay{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
    margin-left: 10%;
}

#divPlay ion-button{
    --background:white;
    width: auto;
    border: 2px solid $stepup1;
    font-size: 0.5em;
    // height: 80%;
}


#play{
    height: 90%;   
}
#pause{
    height: 90%;   
}
#replay{
    height: 90%;   
}

#head{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

#head ion-card{  
    align-items: center;
    text-align: center;
    padding:5px;
    text-align: center;
    font-weight: bold;
    color:$stepup1;
    display: flex;
    font:2em;  
}

#play{
    color:$stepup1;
    font-size: 48px;
}
#pause{
    color:$stepup1;
    font-size: 48px;
}
#replay{
    color:$stepup1;
    font-size: 48px;
}

.count{
    border: 1px solid $stepup1;
}

////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

#timer{
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin:auto;
    margin-top: 25px;
    background-color: white;
    color: $stepup1;
    border: 2px solid $stepup1;
}

#input ion-input{
    width: 50%;
}

.labelHeader{
    font-weight: bold;
    color: $stepup1;
    font-size: 1.5em;
    text-align:center;
}
.labelRow{
    text-align:center;
}

// #gridCard{
//     margin-top: 50px;
// }
// #gridDiv{
//     margin-top: 20px;
    
// }
// .rowTitle{
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowTitle ion-card{
//     // width: 30%;
//     display: inline-block;
//     align-items: center;
//     margin:auto;
//     margin-top: 5px;
//     margin-bottom: 10px;
//     font-weight: bold;
//     color: $stepup1;
//     font-size: large;
// }

// .rowData{
//     color:$stepup2;
//     font-size: small;
// }

// #cardNext{
//     display: inline-block;
//     align-items: center;
//     position: absolute; 
//     bottom: 5px; 
// }

#start{
    width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: absolute;
    bottom: 5px;
    justify-content: center;
}


// ion-card{
//     padding: 5px 5px 5px 5px;
// }