<ion-header>
    <ion-toolbar id="toolbar">
      <div id="divToolbar">
        <div id="divPlay">
          <ion-button [disabled]="this.timerCount > 0 || !this.allScoreOk" (click)="activityEnd()">
            <ion-icon id="play" name="play-forward"></ion-icon>
          </ion-button>
          <div>
            <ion-button [disabled]="this.timerCount == 0 || this.timerCount == undefined" *ngIf="!this.pause" (click)="pauseTimer(true)">
              <ion-icon id="pause" name="pause"></ion-icon>
            </ion-button>
            <ion-button [disabled]="this.timerCount == 0" *ngIf="this.pause == true" (click)="pauseTimer(false)">
              <ion-icon id="replay" name="play"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div id="head">
          <ion-card class="count">Activité en cours</ion-card>
          <ion-card class="count">{{this.session.context?.value?.countActivity}}</ion-card>
        </div>
      </div>
    </ion-toolbar>
</ion-header>
<ion-content id="manage" class="padding">
  <div *ngIf="this.timerCount !=0 && !undefined">
    <ion-card  id="timer">{{this.timerCount}}</ion-card>
  </div>
  <ion-list style="margin-top: 10%;">
    <ion-list-header style="margin-bottom: 10%;" lines="inset">
      <ion-label class="labelHeader">Team</ion-label>
      <ion-label class="labelHeader">Activité</ion-label>
      <ion-label class="labelHeader">Resultat</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let c of players" lines="inset">
      <ion-label class="labelRow" [style.color]="c.color">
          {{c.nameT}}
      </ion-label>
      <ion-label class="labelRow"  [style.color]="c.color">
          {{c.nameA}}   
      </ion-label>
      <ion-label class="labelRow"  [style.color]="c.color">
        {{c.result}}
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-card id="gridCard">
    <div id='gridDiv'>
      <ion-grid>
        <ion-row class="rowTitle">
          <ion-col>
            <ion-card>Team</ion-card> 
          </ion-col>
          <ion-col>
            <ion-card>Activité</ion-card>            
          </ion-col>
          <ion-col>          
            <ion-card>Resultat</ion-card> 
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let c of players" lines="none">
          <ion-col [style.color]="c.color" class="rowData">
            {{c.nameT}}
          </ion-col>
          <ion-col [style.color]="c.color" class="rowData">
            {{c.nameA}}
          </ion-col>
          <ion-col [style.color]="c.color" class="rowData">
            <div>
              {{c.result}} -->
              <!-- <ion-icon *ngIf="c.IsReady" slot="end" color="success" name="checkmark-circle"></ion-icon> -->
            <!-- </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card> -->
  <div id="start">
      <!-- <ion-button (click)="activityEnd()" position="floating">Manche suivante</ion-button> -->
      <div>
        <ion-img src="../../../assets/icon/stepup-logo.png"></ion-img>
      </div>
      <!-- <ion-button [disabled]="!allScoreOk" (click)="activityEnd()" position="floating">Manche suivante</ion-button> -->
  </div>
</ion-content>
